<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

	<div id="app">
		<h2>Text Binding</h2>
		<input v-model="message" placeholder="edit me">
		<p>Message is: {{ message }}</p>
		<hr>
		<h2>Multiline Text Binding</h2>
		<span>Multiline message is:</span>
		<p style="white-space: pre-line;">{{ message }}</p>
		<br>
		<textarea v-model="message" placeholder="add multiple lines"></textarea>
		<hr>
		<h2>Checkbox Binding</h2>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
        <hr>
        <h2>Multiple Checkboxes Binding</h2>
	    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
	    <label for="jack">Jack</label>
	    <input type="checkbox" id="john" value="John" v-model="checkedNames">
	    <label for="john">John</label>
	    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
	    <label for="mike">Mike</label>
	    <br><br>
	    <span>Checked names: {{ checkedNames }}</span>
        <hr>
        <h2>RadioButton Binding</h2>
        <input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br><br>
		<span>Picked: {{ picked }}</span>
		<hr>
		<h2>Select Binding</h2>
		<select v-model="selected">
			<option v-for="option in options" v-bind:value="option.value">
		    {{ option.text }}
		  </option>
		</select>
		<span>Selected: {{ selected }}</span>
		<hr>
		<h2>Modifiers</h2>
		<ul>
			<li>By default, v-model syncs the input with the data after each input event. You can add the lazy modifier to instead sync after change events:<input v-model.lazy="msg" ></li><br>
			<li>If you want user input to be automatically typecast as a number, you can add the number modifier to your v-model managed inputs: <input v-model.number="age" type="number"></li><br>
			<li>If you want whitespace from user input to be trimmed automatically, you can add the trim modifier to your v-model-managed inputs:<input v-model.trim="msg"></li><br>
			<p>{{msg}}</p>
		</ul>

	</div>
	<script src="vue.js"></script>
</body>
</html>